---

 <p align =center> <img src="https://github.com/esabahi/NSI_Images/blob/main/NSI-Image.png?raw=true" width=350>
    </p>

# TD5.3 - Programmation_Orientée_Objet


****************************************

Exercice 1:

Votre réponse:

---------
<font color='green'>ici.....</font>

In [30]:
class Film:
    def __init__(self, titre, real):
        self.titre=titre
        self.real=real
        
    def get_titre(self):
        return self.titre
    
    def set_titre(self, titre):
        self.titre=titre    
        
    def get_real(self):
        return self.real
    
    def set_real(self, real):
        self.real=real  
        
class Acteur:
    def __init__(self,nom,naissance):
        self.nom=nom
        self.naissance=naissance

    def get_nom(self):
        return self.nom
    
    def set_nom(self, nom):
        self.nom=nom
        
    def get_naissance(self):
        return self.naissance
    
    def set_naissance(self, naissance):
        self.naissance=naissance
    
film=Film("titanic","james cameron")
acteur=Acteur("Leonardo","1960")
#print(test.titre,test.real)
'''
film.set_titre("titanic")
film.set_real("james cameron")
acteur.set_nom("Leonardo")
acteur.set_naissance("1960")
'''             
print(film.get_titre())
print(film.get_real())
print(acteur.get_nom())
print(acteur.get_naissance())

titanic
james cameron
Leonardo
1960

Exercice 2:

Votre réponse:

---------
<font color='green'>ici.....</font>

In [28]:
class Personne:
    def __init__(self, rue, ville, code):
        self.rue=rue
        self.ville=ville
        self.code=code 
    def get_rue(self):
        return self.rue
    def set_rue(self, rue):
        self.rue=rue    
    def get_ville(self):
        return self.ville
    def set_real(self, ville):
        self.ville=ville
    def get_code(self):
        return self.code
    def set_code(self, code):
        self.code=code
    def __repr__(self):
        return f"{self.nom} est une personne de {self.age} ans."

personne=Personne("Leon Blum","Mons","5900")

               
print(personne.get_rue())
print(personne.get_ville())
print(personne.get_code())

. Créez les deux classes Adresse et Personne dans deux fichiers différents. N’oubliez pas de
définir les getters/setters et les constructeurs.

. Créez une troisième classe ListePersonnes ayant un seul attribut personnes : un tableau
d’objets Personne. Définissez les getters/setters et le constructeur de cette classe.

. Écrivez la méthode find by_nom(s: str) qui permet de chercher dans le tableau personnes
si l’attribut nom d’un est égal à la valeur du paramètre s. Si c’est le cas, elle retourne le premier
objet correspondant, sinon null.

. Écrivez la méthode exists_code_postal(cp: str) qui permet de vérifier dans le tableau
personnes si un objet possède au moins une adresse dont le code postal égal au paramètre cp.
Si c’est le cas, elle retourne True, sinon False.

. Écrivez la méthode count_personne_ville(ville: str) qui permet de calculer le nombre
d’objets dans le tableau personnes ayant une adresse dans la ville passée en paramètre.

. Écrivez la méthode edit_personnenom(oldNom: str, newNom: str) qui remplace les noms
de personnes ayant un nom égal à la valeur o1dNom par newNom

. Écrivez la méthode edit_personne_ville(nom: str, newVille: str) qui remplace les villes
de personnes ayant un nom égal à la valeur du paramètre nom La newVille

<class 'NameError'>: name 'Adresses' is not defined

In [3]:
class Addresses:
    def __init__(self,nom,sexe,adresses):
        self.nom=nom
        self.sexe=sexe
        self.adresses=adresses
    def get_nom(self):
        return self.nom   
    def set_nom(self, nom):
        self.nom=nom 
    def get_sexe(self):
        return self.sexe
    def set_sexe(self, sexe):
        self.sexe=sexe
    def get_adresses(self):
        return self.adresses
    def set_adresses(self, adresses):
        self.adresses=adresses
        
class Listepersonnes:
    def __init__(self,personnes):
        self.personnes=personnes
    def get_personnes(self):
        return self.personnes
    
    def find_by_name(s):
        for in range (len(liste)):
            if s==liste[i]:
                return liste[i]
            else:
                return null
    def exists_code_postal(cp):
        for in range (len(liste)):
            if cp==liste[i]:
                return True
            else:
                return False
    def count_personne_ville(v):
        n=0
        for i in range (len(liste)):
            if liste[i]==v:
                n=n+1
        return n
    def edit_personnenom(oldNom,newNom) 
                for i in range (len(liste)):
                    if liste[i]==oldNom:
                        liste[i]=newNom
    def edit_personne_ville(nom,newVille) 
    
    qui remplace les villes
de personnes ayant un nom égal à la valeur du paramètre nom La newVille                
        
adresses=Adresses("Martin","M",[])
liste=Listepersonnes(["Mart1","Mart2","Mart3"])
s="Mart1"
cp=""
v=""
oldNom="" 
newNom=""
nom=""
newVille=""
print(adresses.get_nom())
print(adresses.get_sexe())
print(adresses.get_adresses())
print(liste.get_personnes())

<class 'NameError'>: name 'Adresses' is not defined